{% extends "base.html" %}
{% block meta %}
    <meta name="description" content="Sebuah forum anonim">
{% endblock meta %}
{% block content %}
<div class="container-fluid bg-dark text-light p-5">
    <div class="container bg-dark p-5">
        <h1 class="display-4">Hello world! ^^</h1>
        <h2>Selamat datang di underspace <h2>
        <hr>
        <p>
            Tempat berbagi cerita tanpa batas
        </p>
    </div>
</div>
<div class="container mt-5">
    <h1>Boards</h1>
    <hr>
    {% for board in boards  %}
        <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <div class="card-body">
            <h3 class="card-title">
                <a href="{% url 'board' board.name %}" class="text-decoration-none">
                    {{board.name}}
                </a>
            </h3>
            <main class="card-text">
                {{board.description }}
            </main>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}